.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHaOs8Syjg2ENsmJGXYux3m8AcwA-0c6Gq2w&usqp=CAU);
    background-size: cover;
    opacity: 1;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm label {
    margin: 10px 0px;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    margin-top: 50px;
    width: 200px;
    background-color: lightcoral;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}